
body {
	margin: 0 auto;
	font-family: Arial, sans-serif;
	background-color: #212121;
	color:#fff;
}
.wrapper{
	min-height: 100%;
	overflow: hidden;
	text-align: center;
	padding-top: 30px;
}
#countdown{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#count{
	font-size: 58px;
	
}
.desc{
	font-size: 18px;
	display: flex;
	justify-content: space-around;

}
.items{
	display: flex;
	justify-content: space-around;
	color: red;
	white-space: nowrap;

}

.circle{
	animation: 1s size ease infinite;
}

.cl2{
	stroke: red;
	animation: 10s toc infinite;
	animation-timing-function: steps(36);
}

.cl1{
	stroke: red;
	animation: 10s tic infinite;
	animation-timing-function: steps(36);
}


@keyframes tic {
0% {transform: rotate(0deg);}
100% {transform: rotate(-360deg);}
}

@keyframes toc {
 0% {transform: rotate(0deg);}
 100% {transform: rotate(360deg);}
}

@keyframes size {
 0% {height: 90vh;
 	 width:100%;
 }
 100% {height: 89vh;
 	   width: 99%;
 }
}